<form [formGroup]="iAcronym" (ngSubmit)="onSubmit()" novalidate>
  <label>
        <span>Acronym Name</span>
        <input type="text" placeholder="acronym name" formControlName="acronymName">
      </label>
  <div class="error" *ngIf="iAcronym.get('acronymName').touched && iAcronym.get('acronymName').hasError('required')">
    Acronym Name is required
  </div>
  <div>
    <label>
        <span>Description</span>
        <input type="text" placeholder="description" formControlName="description">
      </label>
    <div class="error" *ngIf="iAcronym.get('description').touched && iAcronym.get('description').hasError('required')">
      Description is required
    </div>
  </div>

  <div>
    <label>
        <span>Full Form</span>
        <input type="text" placeholder="fullForm" formControlName="fullForm">
      </label>
    <div class="error" *ngIf="iAcronym.get('fullForm').touched && iAcronym.get('fullForm').hasError('required')">
      Full Form is required
    </div>
  </div>

  <div>
    <label>
        <span>Wiki Link</span>
        <input type="text" placeholder="wikiLink" formControlName="wikiLink">
      </label>
    <div class="error" *ngIf="iAcronym.get('wikiLink').touched && iAcronym.get('wikiLink').hasError('required')">
      WikiLink Name is required
    </div>
  </div>
  <div>
    <button type="submit" [disabled]="iAcronym.invalid">Save</button>
    <button type="reset" (click)="reset()" [disabled]="iAcronym.invalid">Reset</button>

  </div>
</form>